<div class="animated fadeIn">
  <div class="mb-6">
    <div class="row">
      <div class="col-12">
        <h2>Pesquisa de grupos</h2>
        <form autocomplete="off"  (ngSubmit)="pesquisar()">
            <div class="form-group">
              <label class="control-label" for="nome">Nome</label>
              <input type="text" class="form-control" name="nome" id="nome"
               />
            </div>
            <input type="submit" class="btn  btn-primary" value="Pesquisar">
        </form>
      </div>
    </div>
  </div>
  
  <div class="row  mt-5">
    <div class="col-12">
      <!-- <div *ngIf="alert.mostrar">
          <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.mensagem }} </ngb-alert>
      </div> -->
      <table class="table  table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Url Conexão</th>
            <th class="col-acoes"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresas">
            <td >{{ grupo.nome }}</td>
            <td >{{ grupo.urlconexao }}</td>
            <td class="col-acoes">
              <a [routerLink]="['/gerenciador/grupos', grupo.sequencia]" class="fa fa-pencil" placement="top" ngbTooltip="Editar"></a>
              <button class="btn fa fa-trash text-danger" placement="top" tooltip="Excluir" (confirm)="excluir(empresa)">
            </button>
            </td> 
          </tr>
        </tbody>
      </table>
      <!-- <ngb-pagination [boundaryLinks]=true [collectionSize]="totalElementos" [pageSize]="5" [(page)]="filtro.paginaAtual" (pageChange)="loadPage($event)"></ngb-pagination> -->
    </div>
    <div class="col-12"> 
        <a routerLink="/gerenciador/grupos/adiciona" class="btn  btn-primary">
            Incluir</a>
    </div>
  </div>
</div>  
