<div class="animated fadeIn">
  <div>
    <div class="row">
      <div class="col-12">
        <h2>Empresa</h2>
      </div>
    </div>
  </div>
    
  <form #f="ngForm" (ngSubmit)="salvar(f)"> 
    <div class="row">
      <div class="col-12">
        <h4 class="mt-0">Dados Gerais</h4>
      </div>
      <!-- <div class="col-12" *ngIf="alert.mostrar">
        <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.mensagem }} </ngb-alert>
      </div> -->
      <div class="col-12">
        <div class="form-group">
          <label class="control-label  info-required" for="razaosocial">Razão Social</label>
          <input type="text" class="form-control" name="razaosocial" id="razaosocial" autofocus           
          [(ngModel)]="empresa.razaosocial"
          required/>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label class="control-label  info-required" for="nomefantasia">Nome Fantasia</label>
          <input type="text" class="form-control" name="nomefantasia" id="nomefantasia" autofocus 
          [(ngModel)]="empresa.nomefantasia"
          
          required/>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="control-label  info-required" for="nroinscricao">CNPJ/CPF</label>
          <input type="text" class="form-control" name="nroinscricao" id="nroinscricao" autofocus           
          [(ngModel)]="empresa.nroinscricao"
          required/>
        </div>
      </div>      
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="control-label  info-required" for="nroinscricaoestadual">Inscrição Estadual</label>
          <input type="text" class="form-control" name="nroinscricaoestadual" id="nroinscricaoestadual" autofocus           
          [(ngModel)]="empresa.nroinscricaoestadual"
          required/>
        </div>
      </div>      
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="control-label  info-required" for="nroinscricaomunicipial">Inscrição Municipal</label>
          <input type="text" class="form-control" name="nroinscricaomunicipial" id="nroinscricaomunicipial" autofocus           
          [(ngModel)]="empresa.nroinscricaomunicipial"
          required/>
        </div>
      </div>      
    </div>

    <div class="row">
      <div class="col-12">
        <h4 class="mt-0">Endereço</h4>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group">
          <label class="control-label  info-required" for="cep">CEP</label>
          <input type="text" class="form-control" name="cep" id="cep" autofocus           
          [(ngModel)]="empresa.cep"
          required/>
        </div>
      </div>      
      <div class="col-12 col-sm-7">
        <div class="form-group">
          <label class="control-label  info-required" for="endereco">Endereço</label>
          <input type="text" class="form-control" name="endereco" id="endereco" autofocus           
          [(ngModel)]="empresa.endereco"
          required/>
        </div>
      </div>      

      <div class="col-12 col-sm-2">
        <div class="form-group">
          <label class="control-label  info-required" for="nro">Número</label>
          <input type="text" class="form-control" name="nro" id="nro" autofocus           
          [(ngModel)]="empresa.nro"
          required/>
        </div>
      </div>      
      
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="control-label  info-required" for="complemento">Complemento</label>
          <input type="text" class="form-control" name="complemento" id="complemento" autofocus           
          [(ngModel)]="empresa.complemento"
          required/>
        </div>
      </div>            
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="control-label  info-required" for="bairro">Bairro</label>
          <input type="text" class="form-control" name="bairro" id="bairro" autofocus           
          [(ngModel)]="empresa.bairro"
          required/>
        </div>
      </div>      

      <div class="col-12 col-sm-2">
        <div class="form-group">
          <label class="control-label  info-required" for="complemento">UF</label>
          <input type="text" class="form-control" name="complemento" id="complemento" autofocus           
          [(ngModel)]="empresa.complemento"
          required/>
        </div>
      </div>   

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label class="control-label  info-required" for="complemento">Cidade</label>
          <input type="text" class="form-control" name="complemento" id="complemento" autofocus           
          [(ngModel)]="empresa.complemento"
          required/>
        </div>
      </div>            
    </div>

    <div class="row">
      <div class="col-12">
        <h4 class="mt-0">Contato</h4>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="control-label  info-required" for="email">Email</label>
          <input type="text" class="form-control" name="email" id="email" autofocus           
          [(ngModel)]="empresa.email"
          required/>
        </div>
      </div>      
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="control-label  info-required" for="telefone">Telefone</label>
          <input type="text" class="form-control" name="telefone" id="telefone" autofocus           
          [(ngModel)]="empresa.telefone"
          required/>
        </div>
      </div>      

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="control-label  info-required" for="celular">Celular</label>
          <input type="text" class="form-control" name="celular" id="celular" autofocus           
          [(ngModel)]="empresa.celular"
          required/>
        </div>
      </div>   
    </div>


    <div class="row  text-right">
      <div class="col-12">
        <a routerLink="/gerenciador/empresas" class="btn  btn-outline-primary  mr-2">Voltar</a>
        <input type="submit" class="btn  btn-primary" value="Salvar"> 
        <!-- [disabled]="f.invalid" -->
      </div>
    </div>
  </form>
</div>